.main-btn {
  @include mainBtnC ($yellow,$main-btn-hover,$main-btn-hover,$yellow);
  transition: all 0.5s ease;
}
.cards-btn{
  @include mainBtnC ($white,$main-btn-hover,$green,$white);
}

.arr-btn {
  width: 100%;
  height: 100%;
  padding: 0.625rem;
  background-color: $white;
  border: none;
  font-size: 1rem;
  transition: all 0.5s ease;
  &:hover {
    font-size: 1.75rem;
  }
}

.read-btn{
  width: 100%;
  @include mainBtnC ($read-bg,$main-btn-hover,$yellow,$main-btn-hover);
}

.circle-btn{
  padding: 0.875rem 1rem;
  background-color: #113629;
  border-radius: 50%;
  color: $white;
  font-size: $h6-font-size;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  &:hover{
    background-color: $yellow;
    color: $main-btn-hover;
  }
}