// section envato drag //
.envato-drag {
  background-color: $bg-color;
  padding: 2.75rem 0 2rem;
}

.drag-box {
  width: 100%;
  height: 202px;
  // margin-top: 2rem;
  // padding-bottom: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.drag-count {
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.drag {
  //   width: 100%;
  @include flex(row, center, center);
  gap: 1rem;
}

.enva-h {
  height: 150px;
}

.item {
  // pointer-events: fill;
  padding: 1rem 3rem;
  color: $main-btn-hover;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.ab-envato {
  background-color: $white;
}

.dc-po {
  top: 100px;
}

// use for hr //

.hr {
  width: 100%;
  border: 1px solid $gray;
  opacity: 0.5;
}

//================================================================//

/* Gallery carousal section scss */

.gel-container {
  width: 1350px;
  margin: 0 auto;
}

.gel-hov {
  position: absolute;
  border-radius: 0.625rem;
  z-index: 5;
  width: 100%;
  height: 99%;
  background-color: rgba(22, 67, 51, 0.6);
  transition: all 300ms ease;
  opacity: 0;
  @include flex(row, center, center);
  font-size: 2rem;
  color: $white;
  transform: scale(0.7);
}

.item-img {
  &:hover {
    .gel-hov {
      scale: 1;
      opacity: 1;
      transform: scale(1);
    }
  }
}

// about section gallery carousal //
.abg-container {
  width: 1540px;
  margin: 0 auto;
}

.ab-drag {
  overflow: hidden;
  @include flex(row, center, center);
  gap: 2rem;
}

.ab-drag-img {
  width: 362px;

  img {
    width: 100%;
  }
}

.ab-drag-main {
  &:hover {
    .overly-hov {
      transform: translateX(0);
      z-index: 1;
    }

    .ov-top {
      transform: translateY(0);
    }

    .ov-info {
      transform: translateY(0);
    }
  }
}

.overly-hov {
  position: absolute;
  top: 0;
  width: 362px;
  height: 362px;
  background-color: $greenBG;
  z-index: 5;
  border-radius: $img-br;
  opacity: 0.8;
  padding: 1.875rem;
  @include flex(column, stretch, space-between);
  transition: all 0.5s ease;
  transform: translateX(-360px);
  // z-index: -1;
}

.ov-top {
  padding: 1rem 0 0;
  text-align: right;
  transform: translateY(-80px);
  transition: all 0.3s ease;
  transition-delay: 0.6s;
}

.over-link {
  width: 50px;
  height: 50px;
  padding: 1rem 1rem;
  background-color: $white;
  border-radius: 50%;
  text-decoration: none;
  color: $main-btn-hover;
  opacity: 1;
}

.ov-info {
  opacity: 1;
  transform: translateY(100px);
  transition: all 0.3s ease;
  transition-delay: 0.6s;

  p {
    text-transform: capitalize;
    font-size: $h6-font-size;
    color: $white;
    padding-bottom: 1rem;
  }

  h4 {
    a {
      text-decoration: none;
      color: $white;
      font-size: $h4-font-size;
    }
  }
}