.foot-main-bg {
  background-image: url("/assets/media/jpg/footer-bg.jpg");
}
.foot-top {
  padding: 6.875rem 0 3.75rem;
}
.foot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f-info {
  width: 370px;
  padding-right: 1rem;
  @include flex(column, flex-start, flex-start);
  gap: 1.5rem;
  p {
    color: $white;
    font-size: $h5-font-size;
    margin-bottom: 1rem;
  }
}

.fl-title {
  color: #ffffff;
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  margin-bottom: 1.563rem;
}
.foot-links {
  ul {
    list-style: none;
    li {
      margin-bottom: 0.625rem;
      @include flex(row, flex-start, flex-start);
      gap: 1.25rem;
    }
  }
  a {
    color: #8fa89f;
    text-decoration: none;
  }
}
.med-li {
  @include flex(column, flex-start, space-between);
  strong {
    color: $white;
  }
  a {
    transition: all 0.3s ease;
    &:hover {
      color: $white;
    }
  }
  address {
    color: #8fa89f;
  }
}
.f-icon {
  color: $warning;
  font-size: 1.25rem;
}
.foot-form{
  @include flex(column,center, space-between);
  gap: 1rem;
  .main-btn{
    width: 100%;
  }
}
.foot-input{
  width: 100%;
  padding: 0.938rem 1.25rem;
  border-radius: 0.625rem;
  border: none;
}
.f-links{
  width: 180px;
  column-span: 2;
}