.bg-head-color {
   background-color: $bg-color;
}
.bg-img-top {
  background-image: url("/assets/media/png/pattern-sec-top-bg.png");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}
.bg-img-main {
  background-image: url("/assets/media/jpg/header-bg.jpg");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}
.bg-img-btm {
  background-image: url("/assets/media/png/pattern-bg-bottom.webp");
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;
}
