// use for nav top //
.nav-green {
  background-color: $greenBG;
}
.nav-top {
  @include flex(row, center, space-between);
}
.nt-left {
  padding: 0.5rem;
}
.nt-left ul {
  display: flex;
  gap: 2.5rem;
}
.nt-left ul li {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  a {
    text-decoration: none;
    color: $white;
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
  }
  address {
    color: $white;
    display: flex;
    gap: 0.5rem;
    font-style: normal;
  }
}
.en-ah{
  height: 50px;
}
// icon yellow color //
.icon {
  color: $warning;
}

// top nav right //
.nt-right ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nt-right ul li {
  a {
    color: $white;
  }
}
// main Nav bar //
.nav-main {
  @include flex(row, center, space-between);
}

.nav-link-right {
  @include flex(row, center, space-between);
  gap: 10rem;
}
.navigation-link ul {
  @include flex(row, center, space-between);
  list-style: none;
  gap: 3rem;
  li {
    text-transform: capitalize;
    padding: 2.75rem 0 1rem;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}

.down-arr {
  font-size: 0.75rem;
  padding: 0 0.25rem;
}
.nav-func ul {
  @include flex(row, center, space-between);
  list-style: none;
  gap: 2rem;
  li {
    text-transform: capitalize;
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
// nested nav link //
// .nav-m{
//   a {
//     text-decoration: none;
//     color: $dark;
//   }
// }
.nav-nes-parent {
  position: relative;
}
.nav-nes-link {
  display: none;
  z-index: 10;
  border: 1px solid $gray;
  position: absolute;
  background-color: $white;
  top: 105px;
  ul {
    @include flex(column, flex-start, space-between);
    padding: 0 0.75rem;
    gap: 0;
    li {
      width: 100%;
      padding: 0.75rem 1.875rem;
      border-bottom: 1px solid $gray;
      a {
        &:hover {
          color: $green;
        }
      }
    }
  }
}
// ham btn //
.hamBtn{
  display: none;
  border: none;
  font-size: 1.5rem;
}

// .ham-main-box{
//   background-color: $white;
//   border:1px solid black;
//   width: 285px;
// }

// .ham-up-box{
//   padding: 1.25rem;
//   @include flex (row,center,space-between);
// }
// .cross{
//   font-size: 2.25rem;
// }
// .hl-count{
//   @include flex (column,flex-start,space-between);
// }
// .ham-link{
//   width: 100%;
//   padding: 0.625rem 1.25rem; 
// }