

.testimoni-bg {
  background-image: url("../assets/media/png/hp-testmoni-bg.png");
  background-repeat: no-repeat;
}
.test-content-box {
  z-index: 5;
  width: 40%;
  @include flex(column, flex-start, space-between);
  gap: 1.125rem;
  padding: 5rem 0 8rem 0;
  .sch-title {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
  }
}
.test-btn-box {
  @include flex(row, flex-start, space-between);
  gap: 0.5rem;
}
.test-btn {
  padding: 0.325rem;
  border-radius: 50%;
  background-color: $main-btn-hover;
  opacity: 0.7;
  border: none;
  cursor: pointer;
}

.test-main {
  @include flex(row, center, space-between);
}

.test-tog {
  opacity: 1;
}

// client testimoni count scss //
.testimoni-item-box {
overflow: hidden;
  max-width: 970px;
  @include flex(row, center, center);
  position: absolute;
  right: -265px;
  top: 70px;
}

.testimoni-in-client {
  transition: all 0.7s ease;
  padding: 3.75rem 0.975rem 1.785rem;
}
.tc-inner-count {
  position: relative;
  @include flex(column, flex-end, flex-end);
  background-color: $greenBG;
  border-radius: 0.625rem;
  width: 455px;
  height: 504px;
}
.tc-info {
  width: 100%;
  height: 99%;
  padding: 2.5rem 3.125rem 1.875rem;
  @include flex(column, flex-start, space-between);
  background-color: $white;
  border-radius: $img-br;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
}
.tc-row {
  @include flex(column, flex-start, space-between);
  gap: 1rem;
  padding-bottom: 1.125rem;
  h4 {
    color: $main-btn-hover;
    font-size: 1.5rem;
  }
  p {
    font-size: 0.75rem;
  }
}
.tc-img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -60px;
  right: 40px;
 img{
  width: 100%;
  border-radius: $img-br;
 }
}
.tc-content {
  p {
    font-size: 1.125rem;
    line-height: 32px;
  }
}

#testimoniMainBox{
  width: 100%;
  @include flex(row, flex-start, space-between);
}

.testShow{
  display: block;
}
.testHide{
  display: none;
}

// bottom testimoni fruit basket content //
.tf-count {
  @include flex(column, flex-start, start);
  width: 40%;
  padding: 1rem 0;
}
.test-fruit {
  @include flex(row, flex-start, start);
  gap: 1.25rem;
  padding: 1rem 0 1rem;
}
.tfruit-info {
  h2 {
    font-size: 3.125rem;
    color: $greenBG;
    padding-bottom: 1rem;
  }
}
